body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: gainsboro;
}

header h1{
    font-size: 60px;
    color: maroon;
    
    text-align: center;
    margin: 10px 0px 0px 0px;
}
h3{
    font-size: 35px;
    margin: 10px 0px 0px 20px;
       
}
p{
    font-size: 20px;
    margin: 10px 0px 0px 20px;
}
.code{
    background-color: black;
    color: cornsilk;
    padding: 10px;
    font-size: 15px;
    margin-left: 100px;
    width: max-content;
    border-radius: 5px;
}
.clr-yellow{
    color: #ffdb3a;
}
.clr-blue{
    color:#61BAAE;
}
.clr-value{
    color: coral;
}
.clr-calc{
    color: burlywood;
}
.clr-gradient{
    color: burlywood;
}
.comment{
    color: green;
}
h4{
    font-size: 25px;
    margin: 10px 0px 0px 20px;
}